<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container-fluid d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <a class="navbar-brand me-auto" href="#">ERP</a>
    <div *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Bodega'])" class="nav-item position-relative">
      <a class="nav-link" routerLink="/notificaciones">
        <i class="bi bi-bell"></i>
        <span *ngIf="pendingNotificationsCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ pendingNotificationsCount }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </a>
    </div>
    <div class="vr mx-3"></div>
    <div class="dropdown">
      <a class="nav-link d-flex align-items-center" id="userDropdown" role="button" aria-expanded="false">
        <img [src]="authService.getCurrentUser()?.profilePicture || 'assets/img/fondos/profile picture.webp'" class="rounded-circle me-2" alt="Profile Picture" width="50" height="50">
        <div class="d-flex flex-column align-items-start">
          <span>{{ authService.getCurrentUser()?.firstName }} {{ authService.getCurrentUser()?.lastName }}</span>
          <span class="text-success">{{ authService.getCurrentUser()?.role }}</span>
        </div>
      </a>
    </div>
  </div>
</nav>

<div *ngIf="!isLoginPage() && !isInicioPage()" id="sidebar" class="sidebar bg-light border-end">
  <div class="sidebar-header d-flex align-items-center justify-content-center py-3">
    <img src="../../assets/img/logos/favicon.png" alt="Company Logo" class="company-logo">
    <h6 class="ms-2">PRAXA INGENIERIA SPA</h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action" (click)="navigateToHome()">
      <div>
        <i class="bi bi-building"></i> <span>Inicio</span>
      </div>
    </li>
    <li *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Bodega'])" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" (click)="toggleDropdown('operacionesSubmenu')" role="button">
      <div>
        <i class="bi bi-box-seam"></i> <span>Bodega</span>
      </div>
      <i class="bi bi-chevron-down"></i>
    </li>
    <div *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Bodega'])" class="collapse" id="operacionesSubmenu">
      <a class="list-group-item list-group-item-action bg-light ps-5" data-bs-toggle="modal" data-bs-target="#Modal_add_item">
        <i class="bi bi-plus-square"></i> <span>Crear Producto</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" data-bs-toggle="modal" data-bs-target="#ingresoBodegaModal">
        <i class="bi bi-box-arrow-in-down"></i> <span>Ingreso a Bodega</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" data-bs-toggle="modal" data-bs-target="#salidaBodegaModal">
        <i class="bi bi-box-arrow-up"></i> <span>Salida de Bodega</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" data-bs-toggle="modal" data-bs-target="#trasladoBodegaModal">
        <i class="bi bi-arrow-left-right"></i> <span>Traslado de Bodega</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" data-bs-toggle="modal" data-bs-target="#detalleHistorialModal">
        <i class="bi bi-clock-history"></i> <span>Historial</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" data-bs-toggle="modal" data-bs-target="#bulkUploadModal">
        <i class="bi bi-upload"></i> <span>Carga Masiva</span>
      </a>
    </div>
    <li *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Bodega'])" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" (click)="toggleDropdown('ventasSubmenu')" role="button">
      <div>
        <i class="bi bi-journal-bookmark"></i> <span>Compras</span>
      </div>
      <i class="bi bi-chevron-down"></i>
    </li>
    <div *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Bodega'])" class="collapse" id="ventasSubmenu">
      <a class="list-group-item list-group-item-action bg-light ps-5" routerLink="/orden-compra">
        <i class="bi bi-journal-plus"></i> <span>Órdenes de Compra</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" routerLink="/listado-oc">
        <i class="bi bi-journal-check"></i> <span>Estado Ordenes de Compra</span>
      </a>
      <a class="list-group-item list-group-item-action bg-light ps-5" routerLink="/proveedores">
        <i class="bi bi-person-lines-fill"></i> <span>Proveedores</span>
      </a>
    </div>
    <li *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Bodega'])" class="list-group-item list-group-item-action" routerLink="/reportes">
      <div>
        <i class="bi bi-file-earmark-bar-graph"></i> <span>Reportes</span>
      </div>
    </li>
    <li *ngIf="authService.isRoleAllowed(['Admin'])" class="list-group-item list-group-item-action" routerLink="/proyectos">
      <div>
        <i class="bi bi-folder2-open"></i> <span>Proyectos</span>
      </div>
    </li>
    <li *ngIf="authService.isRoleAllowed(['Admin'])" class="list-group-item list-group-item-action" routerLink="/usuarios">
      <div>
        <i class="bi bi-person-rolodex"></i> <span>Usuarios</span>
      </div>
    </li>
    <li class="list-group-item list-group-item-action" routerLink="/user-profile">
      <div>
        <i class="bi bi-person-badge"></i> <span>Cuenta</span>
      </div>
    </li>
    <li class="list-group-item list-group-item-action" (click)="logout()">
      <div>
        <i class="bi bi-box-arrow-left"></i> <span>Salir</span>
      </div>
    </li>
  </ul>
</div>
