<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ERP PRAXA INGENIERIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link" routerLink="/admin-dashboard">Admin Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.isArea()">
          <a class="nav-link" routerLink="/area-dashboard">Área Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuditor()">
          <a class="nav-link" routerLink="/auditor-dashboard">Auditor Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.isBodega()">
          <a class="nav-link" routerLink="/bodega-dashboard">Bodega Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.isRoleAllowed(['Admin', 'Área', 'Auditor', 'Bodega'])">
          <a class="nav-link" routerLink="/notificaciones">Notificaciones</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" routerLink="/user-profile">Cuenta</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      <span class="navbar-text ms-auto text-black d-flex align-items-center" *ngIf="authService.isAuthenticated()">
        Bienvenido, {{ authService.getCurrentUser()?.firstName }} {{ authService.getCurrentUser()?.lastName }}
        <img [src]="authService.getCurrentUser()?.profilePicture || 'assets/img/fondos/profile picture.webp'" class="rounded-circle me-2" alt="Profile Picture" width="60" height="60">
      </span>
    </div>
  </div>
</nav>
