@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

th, td {
  text-align: center;
}

.inventory-table-container {
  margin: 80px 15px 15px 15px;
  padding: 1em;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 850px;
  overflow-y: auto;
}

.caption-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.caption-title {
  flex: 1;
}

.search-bar {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-button {
  flex: 1;
  text-align: right;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

table thead th {
  background-color: #343a40;
  color: #ffffff;
  border-bottom: 2px solid #dee2e6;
}

table tbody tr {
  border-bottom: 1px solid #dee2e6;
}

table td {
  padding: 10px;
  border-right: 1px solid #dee2e6;
}

table td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#cuentaModal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cuentaModal .modal-body .d-flex {
  width: 100%;
}

#cuentaModal .modal-body .mb-3 h5 {
  margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
  #cuentaModal .modal-body .d-flex {
    flex-direction: column;
    align-items: center;
  }

  #cuentaModal .modal-body .d-flex img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .caption-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-button {
    margin-top: 10px;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .caption-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-button {
    margin-top: 10px;
    justify-content: flex-start;
  }

  .table thead {
    display: none;
  }

  .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1rem;
    font-weight: bold;
    text-align: left;
  }
}

#page-content-wrapper .table {
  margin-top: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#page-content-wrapper .table th, #page-content-wrapper .table td {
  border: none;
  padding: 15px;
}

#page-content-wrapper .table th {
  background-color: #ee7712;
  color: #ecf0f1;
}

#page-content-wrapper .table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#page-content-wrapper .table tr:hover {
  background-color: #dcdcdc;
}

#page-content-wrapper .btn-primary {
  background-color: #ee7712;
  border: none;
}

#page-content-wrapper .btn-primary:hover {
  background-color: #d3550c;
}

#notificationModal .modal-header {
  border-bottom: none;
}

#notificationModal .modal-header .btn-close {
  background-color: transparent;
}

#notificationModal .modal-body p {
  margin-bottom: 10px;
}

#notificationModal .modal-body ul {
  padding-left: 20px;
}

#notificationModal .modal-footer {
  border-top: none;
}

#notificationModal .btn-success {
  background-color: #27ae60;
  border: none;
}

#notificationModal .btn-danger {
  background-color: #c0392b;
  border: none;
}
