<div class="login-container-wrapper">
  <div class="login-container">
    <div class="logo">
      <img src="assets/img/logos/Logo_grande-removebg-preview.png" alt="Logo de la empresa">
    </div>
    <div class="form-container">
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" required [(ngModel)]="email" name="email" #emailModel="ngModel">
          <div *ngIf="emailModel.invalid && emailModel.touched" class="text-danger">
            Por favor, ingrese un correo válido.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" required [(ngModel)]="password" name="password" #passwordModel="ngModel">
          <div *ngIf="passwordModel.invalid && passwordModel.touched" class="text-danger">
            Por favor, ingrese una contraseña.
          </div>
        </div>
        <button type="submit" class="btn btn-warning" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
