<div class="main-content">
  <div class="container mt-3">
    <ul class="nav nav-tabs" id="bodegaTabs" role="tablist">
      <li class="nav-item" *ngFor="let bodega of bodegas">
        <a class="nav-link" [class.active]="bodega === selectedBodega" (click)="selectBodega(bodega)" role="tab">{{ bodega.name }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openAddBodegaModal()"><i class="bi bi-plus"></i></a>
      </li>
    </ul>
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="bodegaContent" role="tabpanel">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Inventario - {{ selectedBodega.name }}</h2>
        </div>
        <input type="text" class="form-control mt-2" placeholder="Buscar productos..." [(ngModel)]="searchProductTerm" (input)="onSearchProduct($event)">
        <table id="productTable" class="table table-striped table-bordered caption-top mt-2">
          <thead class="table-dark">
            <tr>
              <th scope="col">CÓDIGO</th>
              <th scope="col">DESCRIPCIÓN</th>
              <th scope="col">UNIDAD</th>
              <th scope="col">STOCK</th>
              <th scope="col">HERRAMIENTAS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts; let i = index">
              <td>{{ product.code }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.unit }}</td>
              <td>{{ product.stock }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-success" (click)="onViewProductInfo(i)">
                    <i class="bi bi-info-circle"></i>
                  </button>
                  <button type="button" class="btn btn-warning" (click)="onEditProduct(i)">
                    <i class="bi bi-pen"></i>
                  </button>
                  <button type="button" class="btn btn-danger" (click)="onDeleteProduct(i)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal_add_item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Modal_add_itemLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="Modal_add_itemLabel">Creación de Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm(productForm, 'product')"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAddProduct(productForm)" #productForm="ngForm" class="row g-3 needs-validation-product">
          <div class="col-md-4">
            <label for="productBodega" class="form-label">Bodega</label>
            <select class="form-select" id="productBodega" required [(ngModel)]="newProduct.bodega" name="bodega">
              <option *ngFor="let bodega of bodegas" [ngValue]="bodega.name">{{ bodega.name }}</option>
            </select>
          </div>          
          <div class="col-md-4">
            <label for="productCode" class="form-label">Codigo Producto</label>
            <input type="text" class="form-control" id="productCode" required [(ngModel)]="newProduct.code" name="code" (input)="toUpperCase($event)">
            <div *ngIf="productExists(newProduct.code) && productForm.submitted" class="invalid-feedback">
              El código del producto ya existe. Por favor, ingrese un código diferente.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productName" class="form-label">Nombre Producto</label>
            <input type="text" class="form-control" id="productName" required [(ngModel)]="newProduct.name" name="name" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.name" class="invalid-feedback">
              Por favor ingrese el nombre del producto.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productDescription" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="productDescription" required [(ngModel)]="newProduct.description" name="description" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.description" class="invalid-feedback">
              Por favor ingrese la descripción del producto.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productModel" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="productModel" required [(ngModel)]="newProduct.model" name="model" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.model" class="invalid-feedback">
              Por favor ingrese el modelo del producto.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productBrand" class="form-label">Marca</label>
            <input type="text" class="form-control" id="productBrand" required [(ngModel)]="newProduct.brand" name="brand" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.brand" class="invalid-feedback">
              Por favor ingrese la marca del producto.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productMaterial" class="form-label">Material</label>
            <input type="text" class="form-control" id="productMaterial" [(ngModel)]="newProduct.material" name="material" (input)="toUpperCase($event)">
          </div>
          <div class="col-md-4">
            <label for="productColor" class="form-label">Color</label>
            <input type="text" class="form-control" id="productColor" [(ngModel)]="newProduct.color" name="color" (input)="toUpperCase($event)">
          </div>
          <div class="col-md-4">
            <label for="productFamily" class="form-label">Familia</label>
            <input type="text" class="form-control" id="productFamily" required [(ngModel)]="newProduct.family" name="family" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.family" class="invalid-feedback">
              Por favor ingrese una familia.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productValue" class="form-label">Valor Neto</label>
            <input type="number" class="form-control" id="productValue" required [(ngModel)]="newProduct.value" name="value">
            <div *ngIf="productForm.submitted && !newProduct.value" class="invalid-feedback">
              Por favor ingrese el valor neto del producto.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productCurrency" class="form-label">Tipo de Moneda</label>
            <select class="form-select" id="productCurrency" required [(ngModel)]="newProduct.currency" name="currency">
              <option selected disabled value="">Elegir...</option>
              <option>CLP</option>
              <option>USD</option>
              <option>EUR</option>
            </select>
            <div *ngIf="productForm.submitted && !newProduct.currency" class="invalid-feedback">
              Por favor seleccione un tipo de moneda.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productUnit" class="form-label">Unidad</label>
            <input type="text" class="form-control" id="productUnit" required [(ngModel)]="newProduct.unit" name="unit" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.unit" class="invalid-feedback">
              Por favor ingrese la unidad del producto.
            </div>
          </div>
          <div class="col-md-4">
            <label for="productLocation" class="form-label">Ubicación</label>
            <input type="text" class="form-control" id="productLocation" required [(ngModel)]="newProduct.location" name="location" (input)="toUpperCase($event)">
            <div *ngIf="productForm.submitted && !newProduct.location" class="invalid-feedback">
              Por favor ingrese la ubicación del producto.
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Crear Producto</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm(productForm, 'product')">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productInfoModal" tabindex="-1" aria-labelledby="productInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productInfoModalLabel">Información del Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedProduct">
        <ul class="list-group">
          <li class="list-group-item"><strong>Código:</strong> {{ selectedProduct.code }}</li>
          <li class="list-group-item"><strong>Bodega:</strong> {{ selectedProduct.bodega }}</li>
          <li class="list-group-item"><strong>Nombre:</strong> {{ selectedProduct.name }}</li>
          <li class="list-group-item"><strong>Descripción:</strong> {{ selectedProduct.description }}</li>
          <li class="list-group-item"><strong>Modelo:</strong> {{ selectedProduct.model }}</li>
          <li class="list-group-item"><strong>Marca:</strong> {{ selectedProduct.brand }}</li>
          <li class="list-group-item"><strong>Material:</strong> {{ selectedProduct.material }}</li>
          <li class="list-group-item"><strong>Color:</strong> {{ selectedProduct.color }}</li>
          <li class="list-group-item"><strong>Familia:</strong> {{ selectedProduct.family }}</li>
          <li class="list-group-item"><strong>Valor:</strong> {{ selectedProduct.value }}</li>
          <li class="list-group-item"><strong>Moneda:</strong> {{ selectedProduct.currency }}</li>
          <li class="list-group-item"><strong>Unidad:</strong> {{ selectedProduct.unit }}</li>
          <li class="list-group-item"><strong>Ubicación:</strong> {{ selectedProduct.location }}</li>
          <li class="list-group-item"><strong>Stock:</strong> {{ selectedProduct.stock }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ingresoBodegaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingreso a Bodega</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="ingresoBodegaForm">
                  <div class="row mb-3">
                      <div class="col-md-6">
                          <label for="registroNumero" class="form-label">Ingreso n°:</label>
                          <input type="text" class="form-control" id="registroNumero" [(ngModel)]="registroNumeroIngreso" name="registroNumeroIngreso" readonly>
                      </div>
                      <div class="col-md-6">
                          <label for="fechaHora" class="form-label">Fecha:</label>
                          <input type="text" class="form-control" id="fechaHora" [(ngModel)]="today" name="today" readonly>
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-md-6">
                          <label for="selectProducto" class="form-label">Producto:</label>
                          <select class="form-select" id="selectProducto" [(ngModel)]="selectedProduct" name="selectedProduct" required>
                              <option *ngFor="let product of selectedBodega.products" [ngValue]="product">{{ product.name }} ({{ product.code }})</option>
                          </select>
                      </div>
                      <div class="col-md-6">
                          <label for="cantidadIngreso" class="form-label">Cantidad a Ingresar:</label>
                          <input type="number" class="form-control" id="cantidadIngreso" [(ngModel)]="cantidadIngreso" name="cantidadIngreso" min="1">
                      </div>
                  </div>
                  <button type="button" class="btn btn-primary mb-3" (click)="onAddProductoToIngreso()">Ingresar Producto</button>
                  <div style="max-height: 300px; overflow-y: auto;">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Código</th>
                                  <th>Nombre</th>
                                  <th>Cantidad</th>
                                  <th>Acción</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of ingresoItems; let i = index">
                                  <td>{{ item.product.code }}</td>
                                  <td>{{ item.product.name }}</td>
                                  <td>
                                      <input type="number" [(ngModel)]="item.cantidad" name="cantidad{{i}}" min="1" class="form-control">
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-danger" (click)="onEliminarItem(i)">Eliminar</button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="onConfirmarIngreso()">Confirmar Ingreso</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="salidaBodegaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Salida de Bodega</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="salidaBodegaForm" #salidaBodegaForm="ngForm">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="registroNumeroSalida" class="form-label">Salida n°:</label>
              <input type="text" class="form-control" id="registroNumeroSalida" [(ngModel)]="registroNumeroSalida" name="registroNumeroSalida" readonly>
            </div>
            <div class="col-md-6">
              <label for="fechaHoraSalida" class="form-label">Fecha:</label>
              <input type="text" class="form-control" id="fechaHoraSalida" [value]="today" readonly>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="selectProductoSalida" class="form-label">Producto:</label>
              <select class="form-select" id="selectProductoSalida" [(ngModel)]="selectedProductSalida" name="selectedProductSalida" required>
                <option *ngFor="let product of allProducts" [ngValue]="product">{{ product.name }} ({{ product.code }})</option>
              </select>
              <div *ngIf="salidaBodegaForm.submitted && !salidaBodegaForm.controls['selectedProductSalida']?.valid" class="invalid-feedback">
                Por favor seleccione un producto.
              </div>
            </div>
            <div class="col-md-6">
              <label for="cantidadSalida" class="form-label">Cantidad a Sacar:</label>
              <input type="number" class="form-control" id="cantidadSalida" [(ngModel)]="cantidadSalida" name="cantidadSalida" min="1" required>
              <div *ngIf="salidaBodegaForm.submitted && !salidaBodegaForm.controls['cantidadSalida']?.valid" class="invalid-feedback">
                Por favor ingrese una cantidad válida.
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="motivoSalida" class="form-label">Motivo de la Salida:</label>
              <textarea class="form-control" id="motivoSalida" [(ngModel)]="motivoSalida" name="motivoSalida" rows="3" required></textarea>
              <div *ngIf="salidaBodegaForm.submitted && !salidaBodegaForm.controls['motivoSalida']?.valid" class="invalid-feedback">
                Por favor ingrese el motivo de la salida.
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mb-3" (click)="onAddProductoToSalida()">Agregar Salida</button>
          <div style="max-height: 300px; overflow-y: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Stock Actual</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Tipo Documento</th>
                  <th scope="col">Número Documento</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of salidaItems; let i = index">
                  <td>{{ item.product.code }}</td>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.description }}</td>
                  <td>{{ item.product.stock }}</td>
                  <td>
                    <input type="number" [(ngModel)]="item.cantidad" name="cantidadSalida{{i}}" min="1" class="form-control">
                  </td>
                  <td>
                    <select class="form-select" [(ngModel)]="item.tipoDocumento" name="tipoDocumento{{i}}">
                      <option selected disabled value="">Elegir...</option>
                      <option value="VD">VD</option>
                      <option value="OE">OE</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="item.numeroDocumento" name="numeroDocumento{{i}}">
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="onEliminarItemSalida(i)">Borrar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-success" (click)="onConfirmarSalida()" [disabled]="!salidaBodegaForm.valid">Confirmar Salida</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detalleHistorialModal" tabindex="-1" aria-labelledby="detalleHistorialModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalleHistorialModalLabel">Historial de Movimientos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="max-height: 800px; overflow-y: auto;"> <!-- Añadido para el scroll -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Número</th>
                <th scope="col">Fecha</th>
                <th scope="col">Detalles</th>
              </tr>
            </thead>
            <tbody id="tablaHistorial">
              <tr *ngFor="let movimiento of historial">
                <td>{{ movimiento?.tipo }}</td>
                <td>{{ movimiento?.numero }}</td>
                <td>{{ movimiento?.fecha }}</td>
                <td>
                  <button class="btn btn-success" (click)="onVerDetallesMovimiento(movimiento)">Ver Detalles</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detalleMovimientoModal" tabindex="-1" aria-labelledby="detalleMovimientoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detalleMovimientoModalLabel">Detalle del Movimiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="detalleMovimientoContent">
        <p><strong>Tipo:</strong> {{ selectedMovimiento?.tipo }}</p>
        <p><strong>Número:</strong> {{ selectedMovimiento?.numero }}</p>
        <p><strong>Fecha:</strong> {{ selectedMovimiento?.fecha }}</p>
        <div *ngIf="selectedMovimiento?.tipo === 'Salida'">
          <p><strong>Documento:</strong> {{ selectedMovimiento?.documento }}</p>
          <p><strong>Detalles:</strong> {{ selectedMovimiento?.detalles }}</p>
        </div>
        <div *ngIf="selectedMovimiento?.tipo === 'Traslado'">
          <p><strong>Detalles:</strong> {{ selectedMovimiento?.detalles }}</p>
          <p><strong>Bodega Origen:</strong> {{ selectedMovimiento?.bodegaOrigen }}</p>
          <p><strong>Bodega Destino:</strong> {{ selectedMovimiento?.bodegaDestino }}</p>
        </div>
        <p><strong>Usuario:</strong> {{ selectedMovimiento?.usuario }}</p>
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selectedMovimiento?.items">
              <td>{{ item.code }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onVolverHistorial()">Volver al Historial</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editProductModalLabel">Editar Producto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="editProductForm" (ngSubmit)="onRequestModification()" #editProductForm="ngForm">
                  <div class="mb-3">
                      <label for="editProductCode" class="form-label">Código</label>
                      <input type="text" class="form-control" id="editProductCode" [(ngModel)]="selectedProductToEdit.code" name="code" readonly>
                  </div>
                  <div class="mb-3">
                      <label for="editProductName" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="editProductName" [(ngModel)]="selectedProductToEdit.name" name="name" required>
                  </div>
                  <div class="mb-3">
                      <label for="editProductDescription" class="form-label">Descripción</label>
                      <input type="text" class="form-control" id="editProductDescription" [(ngModel)]="selectedProductToEdit.description" name="description" required>
                  </div>
                  <div class="mb-3">
                      <label for="editProductModel" class="form-label">Modelo</label>
                      <input type="text" class="form-control" id="editProductModel" [(ngModel)]="selectedProductToEdit.model" name="model">
                  </div>
                  <div class="mb-3">
                      <label for="editProductBrand" class="form-label">Marca</label>
                      <input type="text" class="form-control" id="editProductBrand" [(ngModel)]="selectedProductToEdit.brand" name="brand">
                  </div>
                  <div class="mb-3">
                      <label for="editProductMaterial" class="form-label">Material</label>
                      <input type="text" class="form-control" id="editProductMaterial" [(ngModel)]="selectedProductToEdit.material" name="material">
                  </div>
                  <div class="mb-3">
                      <label for="editProductColor" class="form-label">Color</label>
                      <input type="text" class="form-control" id="editProductColor" [(ngModel)]="selectedProductToEdit.color" name="color">
                  </div>
                  <div class="mb-3">
                      <label for="editProductFamily" class="form-label">Familia</label>
                      <input type="text" class="form-control" id="editProductFamily" [(ngModel)]="selectedProductToEdit.family" name="family">
                  </div>
                  <div class="mb-3">
                      <label for="editProductValue" class="form-label">Valor</label>
                      <input type="number" class="form-control" id="editProductValue" [(ngModel)]="selectedProductToEdit.value" name="value">
                  </div>
                  <div class="mb-3">
                      <label for="editProductCurrency" class="form-label">Moneda</label>
                      <input type="text" class="form-control" id="editProductCurrency" [(ngModel)]="selectedProductToEdit.currency" name="currency">
                  </div>
                  <div class="mb-3">
                      <label for="editProductUnit" class="form-label">Unidad</label>
                      <input type="text" class="form-control" id="editProductUnit" [(ngModel)]="selectedProductToEdit.unit" name="unit" required>
                  </div>
                  <div class="mb-3">
                      <label for="editProductLocation" class="form-label">Ubicación</label>
                      <input type="text" class="form-control" id="editProductLocation" [(ngModel)]="selectedProductToEdit.location" name="location">
                  </div>
                  <div class="mb-3">
                      <label for="editProductStock" class="form-label">Stock</label>
                      <input type="number" class="form-control" id="editProductStock" [(ngModel)]="selectedProductToEdit.stock" name="stock" readonly>
                  </div>
                  <button type="submit" class="btn btn-primary">Solicitar Modificación</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea borrar el producto con código <strong>{{ productToDelete?.code }}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addBodegaModal" tabindex="-1" aria-labelledby="addBodegaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBodegaModalLabel">Agregar Nueva Bodega</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addBodega(bodegaForm)" #bodegaForm="ngForm">
          <div class="mb-3">
            <label for="bodegaName" class="form-label">Nombre de la Bodega</label>
            <input type="text" class="form-control" id="bodegaName" [(ngModel)]="newBodegaName" name="bodegaName" required>
          </div>
          <button type="submit" class="btn btn-primary">Agregar Bodega</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="trasladoBodegaModal" tabindex="-1" aria-labelledby="trasladoBodegaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trasladoBodegaLabel">Traslado de Bodega</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="trasladoBodegaForm">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="selectBodegaOrigen" class="form-label">Seleccione Bodega de Origen:</label>
              <select class="form-select" id="selectBodegaOrigen" [(ngModel)]="selectedBodegaOrigen" name="selectedBodegaOrigen" required>
                <option *ngFor="let bodega of bodegas" [ngValue]="bodega">{{ bodega.name }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="selectBodegaDestino" class="form-label">Seleccione Bodega de Destino:</label>
              <select class="form-select" id="selectBodegaDestino" [(ngModel)]="selectedBodegaDestino" name="selectedBodegaDestino" required>
                <option *ngFor="let bodega of bodegas" [ngValue]="bodega">{{ bodega.name }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="selectProductoTraslado" class="form-label">Productos:</label>
              <select class="form-select" id="selectProductoTraslado" [(ngModel)]="selectedProductTraslado" name="selectedProductTraslado" required>
                <option *ngFor="let product of selectedBodegaOrigen?.products" [ngValue]="product">{{ product.name }} ({{ product.code }})</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-primary mb-3" (click)="onAddProductoToTraslado()">Agregar Producto</button>
          <div style="max-height: 300px; overflow-y: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Stock</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of trasladoItems; let i = index">
                  <td>{{ item.product.code }}</td>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.product.stock }}</td>
                  <td>
                    <button type="button" class="btn btn-danger" (click)="onEliminarItemTraslado(i)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="onConfirmarTraslado()" [disabled]="trasladoItems.length === 0">Confirmar Traslado</button>
      </div>
    </div>
  </div>
</div>
