th, td 
{
  text-align: center;
  vertical-align: middle;
}

.inventory-table-container {
  padding: 20px;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table th, .table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 240px;
  padding-top: 70px;
  width: calc(100% - 240px);
  }
  
  .container {
  max-width: 90%;
  width: 100%;
  }
    