<div class="container mt-4">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="profile-picture-wrapper">
          <img [src]="profilePicturePreview || 'assets/img/fondos/profile picture.webp'" class="profile-picture" alt="Profile Picture">
          <input type="file" id="profilePicture" (change)="onProfilePictureChange($event)" [hidden]="!editMode">
          <label *ngIf="editMode" for="profilePicture" class="btn btn-secondary mt-2">Cambiar Foto</label>
        </div>
      </div>
      <div class="col-md-8">
        <form #userProfileForm="ngForm" (ngSubmit)="onSaveUserProfile(userProfileForm)">
          <div class="mb-3">
            <label for="firstName" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName" [readonly]="!editMode" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" [readonly]="!editMode" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" [readonly]="true" required>
          </div>
          <div class="mb-3" *ngIf="editMode">
            <label for="birthday" class="form-label">Cumpleaños</label>
            <input type="date" class="form-control" id="birthday" [(ngModel)]="user.birthday" name="birthday">
          </div>
          <div class="mb-3" *ngIf="editMode">
            <label for="address" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address">
          </div>
          <button type="button" class="btn btn-primary" (click)="toggleEditMode()" *ngIf="!editMode">Editar Perfil</button>
          <div *ngIf="editMode">
            <button type="submit" class="btn btn-success me-2">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  