th, td 
{
  text-align: center;
  vertical-align: middle;
}

.inventory-table-container {
  padding: 20px;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table th, .table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
