<div class="inventory-table-container container-fluid">
    <div class="caption-container">
      <div class="caption-title">
        <h5>Inventario Bodega Principal</h5>
      </div>
      <div class="search-bar">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar..." (input)="onSearch($event)">
      </div>
      <div class="add-button">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal_add_item">
          <i class="bi bi-plus-square"></i>
        </button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ingresoBodegaModal">
          <i class="bi bi-box-arrow-in-down"></i>
        </button>
        <button class="btn btn-success" id="btnAbrirSalidaBodega" data-bs-toggle="modal" data-bs-target="#salidaBodegaModal">
          <i class="bi bi-box-arrow-up"></i>
        </button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#">
          <i class="bi bi-shuffle"></i>
        </button>
        <button class="btn btn-success" id="btnAbrirHistorial" data-bs-toggle="modal" data-bs-target="#detalleHistorialModal">
          <i class="bi bi-clock-history"></i>
        </button>
      </div>
    </div>
    <table id="productTable" class="table table-striped caption-top">
      <thead>
        <tr>
          <th scope="col">CODIGO</th>
          <th scope="col">DESCRIPCIÓN</th>
          <th scope="col">UNIDAD</th>
          <th scope="col">STOCK</th>
          <th scope="col">HERRAMIENTAS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ product.code }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-success" (click)="onViewProductInfo(i)">
                <i class="bi bi-info-circle"></i>
              </button>
              <button type="button" class="btn btn-warning" (click)="onEditProduct(i)">
                <i class="bi bi-pen"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="onDeleteProduct(i)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal fade" id="Modal_add_item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Modal_add_itemLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="Modal_add_itemLabel">Creación de Producto</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form (ngSubmit)="onAddProduct(productForm)" #productForm="ngForm" class="row g-3 needs-validation" novalidate>
                      <div class="col-md-4">
                          <label for="productCode" class="form-label">Codigo Producto</label>
                          <input type="text" class="form-control" id="productCode" required [(ngModel)]="newProduct.code" name="code">
                          <div *ngIf="productForm.submitted && !productForm.controls['code']?.valid" class="invalid-feedback">
                              Por favor ingrese el código del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productName" class="form-label">Nombre Producto</label>
                          <input type="text" class="form-control" id="productName" required [(ngModel)]="newProduct.name" name="name">
                          <div *ngIf="productForm.submitted && !productForm.controls['name']?.valid" class="invalid-feedback">
                              Por favor ingrese el nombre del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productDescription" class="form-label">Descripción</label>
                          <input type="text" class="form-control" id="productDescription" required [(ngModel)]="newProduct.description" name="description">
                          <div *ngIf="productForm.submitted && !productForm.controls['description']?.valid" class="invalid-feedback">
                              Por favor ingrese la descripción del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productModel" class="form-label">Modelo</label>
                          <input type="text" class="form-control" id="productModel" required [(ngModel)]="newProduct.model" name="model">
                          <div *ngIf="productForm.submitted && !productForm.controls['model']?.valid" class="invalid-feedback">
                              Por favor ingrese el modelo del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productBrand" class="form-label">Marca</label>
                          <input type="text" class="form-control" id="productBrand" required [(ngModel)]="newProduct.brand" name="brand">
                          <div *ngIf="productForm.submitted && !productForm.controls['brand']?.valid" class="invalid-feedback">
                              Por favor ingrese la marca del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productMaterial" class="form-label">Material</label>
                          <input type="text" class="form-control" id="productMaterial" [(ngModel)]="newProduct.material" name="material">
                      </div>
                      <div class="col-md-4">
                          <label for="productColor" class="form-label">Color</label>
                          <input type="text" class="form-control" id="productColor" [(ngModel)]="newProduct.color" name="color">
                      </div>
                      <div class="col-md-4">
                          <label for="productFamily" class="form-label">Familia</label>
                          <input type="text" class="form-control" id="productFamily" required [(ngModel)]="newProduct.family" name="family">
                          <div *ngIf="productForm.submitted && !productForm.controls['family']?.valid" class="invalid-feedback">
                              Por favor seleccione una familia.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productValue" class="form-label">Valor Neto</label>
                          <input type="number" class="form-control" id="productValue" required [(ngModel)]="newProduct.value" name="value">
                          <div *ngIf="productForm.submitted && !productForm.controls['value']?.valid" class="invalid-feedback">
                              Por favor ingrese el valor neto del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productCurrency" class="form-label">Tipo de Moneda</label>
                          <select class="form-select" id="productCurrency" required [(ngModel)]="newProduct.currency" name="currency">
                              <option selected disabled value="">Elegir...</option>
                              <option>CLP</option>
                              <option>USD</option>
                              <option>EUR</option>
                          </select>
                          <div *ngIf="productForm.submitted && !productForm.controls['currency']?.valid" class="invalid-feedback">
                              Por favor seleccione un tipo de moneda.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productUnit" class="form-label">Unidad</label>
                          <input type="text" class="form-control" id="productUnit" required [(ngModel)]="newProduct.unit" name="unit">
                          <div *ngIf="productForm.submitted && !productForm.controls['unit']?.valid" class="invalid-feedback">
                              Por favor ingrese la unidad del producto.
                          </div>
                      </div>
                      <div class="col-md-4">
                          <label for="productLocation" class="form-label">Ubicación</label>
                          <input type="text" class="form-control" id="productLocation" required [(ngModel)]="newProduct.location" name="location">
                          <div *ngIf="productForm.submitted && !productForm.controls['location']?.valid" class="invalid-feedback">
                              Por favor ingrese la ubicación del producto.
                          </div>
                      </div>
                      <div class="col-12">
                          <button class="btn btn-primary" type="submit">Crear Producto</button>
                      </div>
                  </form>                      
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
          </div>
      </div>
  </div>
  