.modal-xxl {
  max-width: 90%;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.table-responsive {
  overflow-x: auto;
}

.alert-scrollable {
  max-height: 200px; /* Ajusta la altura según tus necesidades */
  overflow-y: auto;
}